/* Normalize */

@import "normalize";

/* Foundation*/

@import "foundation/settings";
@import "foundation";  // Ruby Sass on Christina-PC not compiling foundation correctly. Repeats _global resulting in huge file size.

/* Modules! */

@import "modules/box";

body{
	// background-color: lighten(#3bc574, 20);
}

.sidebar{
	background-color: $secondary-color;
	padding: 32px 20px;
}

.mini-header{
	// font-size: 0.77778rem;
	font-weight: bold;
}

