/*
Error: Invalid CSS after "...dules, $name); ": expected "}", was "!global"
        on line 14 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/_functions.scss
        from line 5 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_global.scss
        from line 5 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_grid.scss
        from line 9 of C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/_foundation.scss
        from line 8 of C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/app.scss

9: // We use this to prevent styles from being loaded multiple times for compenents that rely on other components.
10: $modules: () !default;
11: @mixin exports($name) {
12:   $module_index: index($modules, $name);
13:   @if (($module_index == null) or ($module_index == false)) {
14:     $modules: append($modules, $name); !global
15:     @content;
16:   }
17: }
18: 
19: //

Backtrace:
C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/_functions.scss:14
C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_global.scss:5
C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_grid.scss:5
C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/_foundation.scss:9
C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/app.scss:8
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:643:in `block'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:316:in `if_directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:219:in `special_directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:194:in `directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:231:in `mixin_directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:219:in `special_directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:194:in `directive'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:299:in `to_tree'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `map'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby21/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Ruby21/Ruby21/bin/sass:23:in `load'
C:/Ruby21/Ruby21/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...dules, $name); \": expected \"}\", was \"!global\"\A         on line 14 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/_functions.scss\A         from line 5 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_global.scss\A         from line 5 of C:/Users/Christina/Desktop/Nathan's Stuff/Computer Science/StudentOnline/app/scss/foundation/components/_grid.scss\A         from line 9 of C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/_foundation.scss\A         from line 8 of C:/Users/CHRIST~1/AppData/Local/Temp/gulp-ruby-sass/app.scss\A \A 9: // We use this to prevent styles from being loaded multiple times for compenents that rely on other components.\A 10: $modules: () !default;\A 11: @mixin exports($name) {\A 12:   $module_index: index($modules, $name);\A 13:   @if (($module_index == null) or ($module_index == false)) {\A 14:     $modules: append($modules, $name); !global\A 15:     @content;\A 16:   }\A 17: }\A 18: \A 19: //"; }
